body {
font-size: 18px;
color: purple;
}

td, th {
border: 1px solid #ddd;
padding: 8px;
}

tr:nth-child(even){
background: #f2f2f2;
}

tr:hover {
background: #ddd;
}

th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background: #04AA6D;
color: white;
}

.center {
margin-left: auto;
margin-right: auto;
}